@use "@/sass/variables" as *;

.Projects {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 80px;

  @media screen and (min-width: 768px) {
    width: 90%;
  }

  h2 {
    font-size: 25px;
    font-weight: 700;
  }
}

.projectCardContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  @media screen and (min-width: 1150px) {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
  }
}

.projectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.projectTitleContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--bg-card-v2-color);
}

.projectTitleText {
  width: 100%;
  text-align: start;
  margin: 0;
  font-size: 20px;
  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}

.sectionIcon {
  width: 30px;
  height: 30px;
}

.projectIcon {
  width: 20px;
  height: 20px;
}
