@import 'variables';

:root {
    --bg-color: #{$bg-color-light};
    --text-color:#{$text-color-light};
    --bg-card-v1-color: #{$bg-card-v1-light};
    --bg-card-v2-color: #{$bg-card-v2-light};
    --text-color-card-skill:#{$text-color-card-skills-light};
    --hover-button-color:#{$hover-button-color-light};
}
  
[data-theme="dark"] {
    --bg-color: #{$bg-color-dark};
    --text-color:#{$text-color-dark};
    --bg-card-v1-color: #{$bg-card-v1-dark};
    --bg-card-v2-color: #{$bg-card-v2-dark};
    --text-color-card-skill:#{$text-color-card-skills-dark};
    --hover-button-color:#{$hover-button-color-dark};
}

html, body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
}

  

  