@import 'variables';

html, body {
    background: $primary-color;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el scroll horizontal global */
    width: 100vw; /* Asegura que no se pase del viewport */
}

  

  