// src/styles/variables.scss

$button-color:#697565;
//---- Dark mode
$bg-color-dark:#181C14;
$hover-button-color-dark:#3C3D37;
$bg-card-v1-dark:#E5E5CB;
$bg-card-v2-dark:#D5CEA3;
$text-color-dark:#fff;
$text-color-card-skills-dark:#000;

//---- Ligth mode
$bg-color-light:#D5CEA3;
$hover-button-color-light:#E5E5CB;
$bg-card-v1-light:#181C14;
$bg-card-v2-light:#3C3D37;
$text-color-light:#000;
$text-color-card-skills-light:#fff;


$font-size-base: 16px;
$spacing-unit: 8px;
$border-buttons: 17px;

