@import 'variables';

.SectionTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
 
    &__Word{
        font-size: 35px;
        font-weight: 600;
        margin: 0;
    }
}