@use '@/sass/variables' as *;

.DescriptionProjectCard{
    flex:1;
    background-color: var(--background-color-alt, var(--background-color));
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 1px black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 15px 25px;
    border: 1px solid transparent;
    border-radius: 15px; 
    gap: 2rem;

    &__Techs{
        display: flex;
        flex-direction: row;
        justify-content:start;
        align-items: center;
        gap: 10px;
    }

    &__TagsSection{
        width:100% ;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        gap: 1rem;
    }

    &__LinkSection{
        //width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: end;
        gap: 10px;
    }
    
    &__Description{
        margin: 0;
        //color: var(--bg-card-v1-color);
        opacity: 0.8;
    }
}