@use '@/sass/variables' as *;

.DescriptionProjectCard{
    background-color: var(--bg-description-project);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    gap: 10px;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 15px; 
    &:hover{
        border-color:  var(--bg-card-v2-color);
        .SpecialTag {
            box-sizing:border-box ;
            border-radius: 999px;
            box-shadow: 0 0 150px 25px var(--shadow-special-tag);
        }
    }

    &__Techs{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        gap: 10px;
    }

    &__TagsSection{
        width:100% ;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__LinkSection{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 10px;
        margin-top: 10px;
    }
    
    &__Description{
        margin: 0;
        padding: 0 10px;
        //color: var(--bg-card-v1-color);
        opacity: 0.8;
    }
}