@use '@/sass/variables' as *;

.SpecialButton{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hover-button-color);
    color:white;
    padding: 1.5px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 999px;
    cursor: pointer;
    overflow: hidden;
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 0 5px 2px $button-color;
    flex-shrink: 1;
    text-decoration: none;
    transition-duration: 200ms;
    transition-property: background-color, scale;
    transition-timing-function: ease-in-out;
    
    &:hover{
      scale: 1.05;
      transition-duration: 500ms;  
    }

    .Glow {
        z-index: 0;
        position: absolute;
        inset: -1000%;
        background: conic-gradient(
            from 90deg at 50% 50%,
            #85A947 0%,
            black 80%,
            #85A947 100%
        );
        animation: spin 1s linear infinite;
    }
  
    .Content {
        position: relative;
        z-index: 1;
        background:$hover-button-color-dark;
        margin:0.5px;
        padding: 7px;
        border-radius: 999px;
        backdrop-filter: blur(10px);
        text-align: center;
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }