@use '@/sass/variables' as *;

.Button{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
    color: var(--text-color);
    transition-property: scale;
    transition-duration: 500ms;
    &:hover{
        scale:1.2;
        color: var(--green-neutro);
    }
    &__Icon{
        width: 20px;
        height: 20px;
    }
}