.FirstProject{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 15px;

    @media screen and (min-width: 1200px) {
        flex-direction: row-reverse;
    }

}