@use '@/sass/variables' as *;

.SkillIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap:5px;
    padding: 5px;

    &__Name{
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        //color:white;
    }
}
