.Main_Container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 15px;

    @media screen and (min-width: 768px) {
        padding: 0;
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 10px;
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 60%;
            flex-direction: row;
        }
    }

    &__home{
        height: 100vh;
    }
}


  