.Skills{
    padding-top: 20px;
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 60%;
        padding-top: 50px;
    }

    &__Icon{
        width: 30px;
        height: 30px;
    }

    &__GridCards{
        display: grid;
        //margin: 15px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 15px;

        @media screen and (min-width: 1140px) {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(8, 1fr);
        }

    }

    &__IconList{
        width: 40px;
        height: 40px;
    }
}

