.Skills{
    padding-top: 35px;
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 90%;
        padding-top: 50px;
    }

    &__Icon{
        width: 30px;
        height: 30px;
    }

    &__GridCards{
        margin-top: 30px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 15px;

        @media screen and (min-width: 1140px) {
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: repeat(3, 1fr);
        }

    }

    &__IconList{
        width: 40px;
        height: 40px;
    }
}

