@use "@/sass/variables" as *;

.ContactButtons {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 30px;

  @media screen and (min-width: 768px) {
    //width: 80%;
    flex-direction: column;
    justify-content: start;
  }

  &__Social {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
  }

  &__SocialButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 6px 10px;
    border: none;
    border-radius: $border-buttons;
    background-color: var(--background-color-alt, var(--background-color));
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px black;
    text-decoration: none;
    cursor: pointer;
    //box-shadow: 0 0 5px 2px var(--green-neutro);
    transition-duration: 500ms;
    transition-property: background-color, scale;
    transition-timing-function: ease-in-out;

    &:hover {
      scale: 1.1;
      transition-duration: 1s;
    }
  }
  &__Correo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    border: none;
    border-radius: $border-buttons;
    background-color: var(--background-color-alt, var(--background-color));
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px black;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 500ms;
    transition-property: background-color, scale;
    transition-timing-function: ease-in-out;

    &:hover {
      scale: 1.03;
      transition-duration: 1s;
    }
  }

  &__Icon {
    color: var(--text-color);
  }

  &__SocialContact {
    display: flex;
    justify-content: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }

  &__correo {
    color: var(--text-color);
    font-weight: 400;
    font-size: 16px;
    margin: 0;
  }

  &__title {
    color: var(--bg-card-v1-color);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
      font-size: 38px;
    }
  }

  h2 {
    opacity: 0.7;
    font-size: 25px;
    font-weight: 500;
    margin: 5px 0px 0px 0px;
  }

  p {
    font-size: 16px;
    //font-weight: 300;
    margin-top: 5px;
    line-height: 1.6;
    text-align: left;
    word-wrap: break-word;
    text-rendering: optimizeSpeed;
    will-change: contents;
    max-width: 600px;
    width: 100%;
    display: block;
    transform: translateZ(0);
    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
  }

  &__Presentation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    @media screen and (min-width: 768px) {
      //width: 100%;
    }
    &__Text {
      width: 100%;
      //max-width: 600px;
      margin: 0;
    }
  }
}
