@import 'variables';

.Home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  
  @media screen and (min-width: 768px) {
      width: 60%;
  }

  &__Profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding: 0px;
    width: 90%;

    &__Image {
      border-radius: 50%;
      object-fit: cover;
      width: 80px;
      height: 80px;
      flex-shrink: 0;
    }
  }

  &__Presentation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 10px 0px;
  }

  h1 {
    font-size: 42px;
    font-weight: 700;
    margin: 0px;
  }

  h2 {
    font-size: 25px;
    font-weight: 500;
    color: #666;
    margin: 5px 0px 0px 0px;
  }

  a {
    background-color: $color-button;
    color: white;
    padding: 6px 10px;
    border-radius: $border-buttons;
    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    flex-shrink: 1;
    text-decoration: none;
    box-shadow: 0 0 5px 2px $color-button;
    transition-duration: 200ms;
    transition-property: background-color, scale;
    transition-timing-function: ease-in-out;
    
    &:hover{
      scale: 1.2;
      background-color: $secondary-color;
      transition-duration: 500ms;  
    }
  }

  p {
    font-size: 20px;
    font-weight: 300;
    margin: 5px 0px 0px 0px;
    line-height: 1.6;
    text-align: left;
    word-wrap: break-word;
  }
}

