@import 'variables';

.TechTag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    font-size: 13px;
    border: 0.5px solid var(--bg-tag-tech);
    border-radius: 17px;
    box-shadow: 0 0 5px 1px var(--bg-tag-tech);

    background-color: var(--bg-tag-tech);
    color: var(--text-color-reverse);
}